.card-home {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 100%;
  background-image: url("./assets/laptop-2620118_960_720.jpg");
  position: relative;
  color: white;
  padding: 20px;
  overflow: auto;
}

.info-box {
  margin-top: 75px;
  width: 100%;
  background: rgb(46, 46, 46);
  padding: 15px;
  border-radius: 8px;
  border: 2px solid rgba(24, 24, 131, 1);
  text-shadow: 0px 1px 0px #283966;
}
#contact-button {
  position: absolute;
}

#resume-button {
  position: absolute;
}

.button {
  margin-top: 10px;
  background-color: #4a78cf;
  border-radius: 11px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.button:hover {
  background-color: #476e9e;
}
.button:active {
  position: relative;
  top: 1px;
}
